.about-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;

  .about-content {
    position: absolute;
    left: 5%;
    color: #000;
    max-width: 50%;
    padding: 2rem;
    border-radius: 10px;

    h1 {
      font-size: 4.5rem;
      font-weight: 700;
      color: #a8a8a8;
      span {
        color: #000;
        font-weight: 900;
      }
    }

    p {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .about-detail {
      display: flex;
      justify-content: space-between;
      margin: 2rem 4rem 0;

      .about-box {
        text-align: center;

        h2 {
          font-size: 2rem;
          font-weight: 700;

          span {
            font-weight: 900;
            font-size: 2.5rem;
            color: #f39c12;
          }
        }

        p {
          font-size: 1.1rem;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; // Đưa hình ảnh về phía sau nội dung
  }

  // Media queries for responsiveness
  @media (max-width: 1024px) {
    .about-content {
      max-width: 70%;

      h1 {
        font-size: 3.5rem; // Giảm kích thước cho màn hình trung bình
      }

      p {
        font-size: 1.2rem;
      }

      .about-detail {
        flex-direction: column; // Thay đổi bố cục về dạng cột khi không đủ chiều ngang
        margin: 2rem 0;

        .about-box {
          margin-bottom: 2rem; // Tạo khoảng cách giữa các box
        }
      }
    }
  }

  @media (max-width: 768px) {
    .about-content {
      max-width: 80%;
      left: 3%; // Điều chỉnh lại khoảng cách từ lề trái

      h1 {
        font-size: 2.8rem; // Giảm kích thước font chữ hơn nữa cho màn hình nhỏ hơn
      }

      p {
        font-size: 1.1rem;
      }

      .about-detail {
        margin: 2rem 0;

        .about-box {
          h2 {
            font-size: 1.8rem;

            span {
              font-size: 2rem;
            }
          }

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    height: auto; // Cho phép container tự động điều chỉnh chiều cao theo nội dung
    padding: 2rem 1rem;

    .about-content {
      max-width: 90%;
      left: 0; // Giảm khoảng cách từ lề trái về 0
      padding: 1rem;

      h1 {
        font-size: 2.2rem; // Kích thước nhỏ hơn cho màn hình di động
      }

      p {
        font-size: 1rem;
      }

      .about-detail {
        margin: 1rem 0;

        .about-box {
          h2 {
            font-size: 1.6rem;

            span {
              font-size: 1.8rem;
            }
          }

          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

// Testimonials
.about-testimonials {
  margin: 2rem 6rem;

  .title-about-cart {
    font-size: 2rem;
    font-weight: 700;
    color: #a8a8a8;
    span {
      font-size: 2.5rem;
      font-weight: 900;
      color: #000;
    }
  }

  .about-card {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
  }
}

.image-about-between {
  position: relative;
  height: 80vh;
  background: url(../../../assets/workspace.jpeg) no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 2;
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
    color: #f1f1f1;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    padding: 5rem;
    background-attachment: scroll;

    h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    padding: 3rem;

    h1 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }
}

// Hero
.about-hero {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 40px;
  margin: 2rem 6rem;

  .about-hero-img {
    flex: 1;
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  .about-hero-description {
    flex: 1;
    p {
      font-size: 1.2rem;
      line-height: 2;
      text-align: justify;
      color: #333;
      span {
        font-weight: bold;
        color: #f39c12;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    .about-hero-img,
    .about-hero-description {
      flex: none;
      width: 100%;
    }
  }
}

.about-parners-container {
  margin: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-parners-tittle {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;

    span {
      color: #a8a8a8;
      font-weight: bold;
    }
  }

  .about-parners-img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
