.hero-container {
   
    .hero-detail-container {
      
      margin: 10rem 10rem 10rem 10rem;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 70px;
        text-align: left;
        font-weight: bolder;

      }
  
      p {
      
        font-size: 1rem;
        // line-height: 1.5;
        margin-bottom: 20px;
        text-align: justify;
      }

       .container-button {
        display: flex;
        justify-content: center;        
        .btn {
            background-color: #090a0a;
            color: #fff;
            border-radius: 10px;
            transition: background-color 0.3s ease;            
            margin-top: 20px;
            &:hover {
              background-color: #6e7072;
            }
          }
       } 
       
      
    }
  
    // Định nghĩa kích thước cho ảnh
    img {
        border-radius: 20px;
        width: 75%;
        height: 42rem;
        
    }
  }

  