.filter-container {
  background-image: url("../../../../assets/HomepageFilter.jpg");
  z-index: 1; // Đảm bảo lớp phủ nằm trên hình nền nhưng dưới nội dung
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 2rem;

  &::after {
    content: "";
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); // Màu xám với độ trong suốt
    z-index: 1; // Đảm bảo lớp phủ nằm trên hình nền nhưng dưới nội dung
  }

  * {
    position: relative;
    z-index: 2; // Nội dung nằm trên lớp phủ
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: #ffffff;
    text-shadow: 3px 3px 3px #000000;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    max-width: 1000px;
    color: gray;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0; /* Không cần khoảng cách */
    width: 100%;
    max-width: 1000px;
    //background-color: white;
    overflow: hidden;

    select {
      font-size: 1rem;
      flex-grow: 1;
      width: 100%;
      background-color: #f5f5f5;
      flex: 1;
      text-align: left;
      border-radius: 0;
    }

    .select-location {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      min-width: 400px;
    }

    .btn {
      background-color: #000;
      color: white;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 1rem 2rem;
      cursor: pointer;
      font-size: 1rem;
      border: none;

      &:hover {
        background-color: #444;
      }
    }
  }

  // Thêm filter-container-child
  .filter-container-child {
    width: 100%;
    max-width: 1000px; /* Đặt giới hạn chiều rộng */
    padding: 2rem; /* Khoảng cách cho phần tử con */
    background-color: #fcf8f8; /* Màu nền trắng */
    border-radius: 20px; /* Bo góc */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    text-align: center;

    h2 {
      color: #333; /* Màu tiêu đề */
    }

    p {
      color: #666; /* Màu mô tả */
    }

    form {
      max-width: 1000px; /* Điều chỉnh form nằm trong khung */
    }
  }
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem; // Khoảng cách giữa các trường chọn
  }

  .location-icon,
  .workspace-icon {
    position: absolute;
    font-size: 1.5rem; // Điều chỉnh kích thước của icon nếu cần
    color: #000; // Màu sắc của icon
    z-index: 999;
  }

  .location-icon {
    left: 10px;
  }

  .workspace-icon {
    left: 10px; // Có thể điều chỉnh khoảng cách trái của icon nếu cần
    top: 50%; // Canh giữa theo chiều dọc của khung chọn
    transform: translateY(-50%); // Canh giữa theo chiều dọc
  }

  .select-location {
    padding-left: 2.5rem; // Để tạo khoảng trống cho icon
  }

  .select-workspace {
    min-width: 400px;
    padding-left: 2.5rem; // Để tạo khoảng trống cho icon
  }

  .btn {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .filter-container-child {
    padding: 1rem;
  }

  form {
    flex-direction: column;
    align-items: stretch;
  }

  .input-container {
    max-width: 100%;
  }

  .select-location,
  .select-workspace {
    border-radius: 10px; // Đảm bảo border-radius được áp dụng
    min-width: 100%;
    padding-left: 2rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .select-location,
  .select-workspace {
    border-radius: 10px; // Đảm bảo border-radius được áp dụng
    padding-left: 1.5rem;
  }

  .btn {
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100% !important;
  }
}
