.room-controls {
    width: 100%; 
    padding: 0 20px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .control-row {
        display: flex;
        justify-content: space-between; 
        gap: 20px; 
        width: 100%;
    }

    .control {
        flex: 1; 
        display: flex;
        flex-direction: column;

        label {
            color: black; 
            font-weight: bold ;
            margin-bottom: 5px;
        }

        input[type="date"], input[type="month"], input[type="number"] {
            border: 1px solid black;  /* Khung viền đen */
            border-radius: 4px;  /* Góc bo tròn */
            font-size: 16px;  /* Kích thước chữ */
            background-color: white;  
            padding-left: 10px;
        }

        select {
            border: 1px solid black; 
            border-radius: 4px; 
            appearance: none; 
            background: white; 
            cursor: pointer; 
            padding-left: 10px;
        }

        .form-select {
            -webkit-appearance: none; 
            -moz-appearance: none; 
            appearance: none; 
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="16" height="16"><polyline points="6 9 12 15 18 9"/></svg>') no-repeat right 0.75rem center; /* Thêm mũi tên bên phải */
            background-size: 1rem; 
            padding-right: 2.5rem;
        }
    }

    .table-container {
        width: 100%; 
        margin-top: 20px;
        overflow-x: auto; 
    }
    .status-labels {
        display: flex;
        margin-bottom: 20px; /* Khoảng cách giữa ô chú thích và bảng */

        .status-label {
            padding: 10px;
            margin-right: 10px;
            color: black ;
            border-radius: 5px;
            display: flex;
          }

          .circle {
            width: 20px; /* Đường kính của ô tròn */
            height: 20px;
            border-radius: 50%; /* Tạo hình tròn */
            margin-right: 8px; /* Khoảng cách giữa ô tròn và chữ */
          }
      }

    .status-item {
        display: flex;
        align-items: center;
    }

    .status-color {
        width: 20px; 
        height: 20px; 
        border-radius: 50%; 
        margin-right: 5px; 
    }

    .status-label {
        font-size: 14px;
        color: black; 
        
    }
}
