.workzy-manager-header-container {
  width: 100%;
  padding: 0 20px; // Padding
  display: flex;
  align-items: center; // Căn giữa
}

.workzy-manager-header-content {
  display: flex;
  justify-content: space-between; // Đẩy 2 phần tử ra 2 đầu
  align-items: center; // Căn giữa
  width: 100%; // Chiếm toàn bộ chiều rộng
}

.title-manager-header {
  font-size: 1.875rem; // Kích thước font
  font-weight: 900;
  color: #1f2937; // Màu chữ
}

.dropdown {
  position: relative; // Để chứa dropdown
}

.dropdown-content {
  position: absolute; // Đặt vị trí dropdown
  right: 0; // Đẩy về bên phải
  background-color: #ffffff; // Màu nền cho dropdown
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // Đổ bóng
}

.avatar {
  display: flex;
  align-items: center; // Căn giữa avatar
}
