.container-map-contact {
    background-color: #eff6fd;
    border-radius: 50px;
    padding: 20px;   
    // background-color: #ebf1f8;
    // border-radius: 50px;
    margin: 9rem 10rem 9rem 10rem;
   
  
    .container-contact {
      text-align: center;
      width: 100%;
      size: 50cap;

      h2{
        font-size: 3rem;
        margin-bottom: 60px;
      }
      p {
        font-size: 1.5rem;
        margin-top: 40px;
        text-align: center;        
      }
    }
}
.container-map-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .container-slide {
    h1 {
      font-weight: bold;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  .info-container {
    margin-left: 100px;
    h2 {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      font-weight: bold;
    }
  }
  