.side-bar {
  background-color: #fff;

  .menu-item {
    // display: flex;
    padding: 0.75rem 0;

    .icon {
      font-size: 1.5rem;
      margin-right: 0.75rem;
    }

    a {
      text-decoration: none;
      font-weight: 500;
      color: inherit;
      transition: color 0.3s ease-in-out;

      &hover {
        color: #4a90e2;
      }
    }
  }
}
