.wishlist-container {
  display: flex;
  flex-direction: column;
  gap: 10px; // Khoảng cách giữa các thẻ

  .wishlist-card {
    display: flex;
    flex-direction: row; // Đặt thẻ theo chiều ngang
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s; // Thêm hiệu ứng cho bóng đổ
    overflow: hidden; // Ẩn phần thừa
    height: 170px; // Tăng chiều cao của thẻ
    width: 900px; // Tăng chiều rộng của card (thay đổi giá trị này theo ý muốn)
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Thêm bóng đổ mặc định

    &:hover {
      transform: scale(1.05); // Tăng kích thước khi hover
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); // Thay đổi bóng đổ khi hover
      background-color: #f9f9f9; // Thay đổi màu nền khi hover
    }

    figure {
      width: 20%; // Giữ chiều rộng hình ảnh
      margin: 0; // Bỏ margin để không bị lệch
      height: 100%; // Đặt chiều cao của figure bằng 100% chiều cao của thẻ card

      img {
        width: 100%; // Đặt chiều rộng hình ảnh 100% của figure
        height: 100%; // Đặt chiều cao hình ảnh bằng 100% của figure
        border-radius: 8px 0 0 8px; // Bo góc cho hình ảnh
        object-fit: cover; // Giữ tỷ lệ khung hình
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px;
      background-color: #fff; // Màu nền cho phần nội dung

      .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0; // Bỏ margin
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin: 0.5rem 0;
        }
      }

      .card-actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
