.gallery-contain {
  padding-bottom: 30px;
  border-bottom: 1px solid #6e6e6e;
}

.time-booking-container {
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
  // margin: auto;

  .time-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .am-label,
    .pm-label {
      background-color: #000;
      color: #fff;
      padding: 10px;
      border-radius: 10px 0 0 10px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
    }

    .time-slot-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 2px;
      flex-grow: 1;

      .time-slot {
        background-color: #ccc;
        padding: 10px 0px;
        text-align: center;
        border: 1px solid #000;
        // border-radius: 0 10px 10px 0;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: #999;
          transition: background-color 0.3s;
        }
      }
    }
  }
}

.detail-room-container-right-col {
  margin: 1rem 0rem 1rem 6.5rem;

  .type-capacity-container {
    margin: 1rem 0 2rem;
  }
}
