.amenity-icon {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Thêm khoảng cách giữa các icon */
    font-size: 20px;
    }
    
    .amenity-icon:hover::after {
    content: attr(title);
    position: absolute;
    top: 50%; /* Giữa theo chiều dọc */
    left: 100%; /* Xuất hiện bên phải icon */
    transform: translateY(-50%); /* Căn giữa theo chiều dọc */
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    font-size: 13px;
    }