.swiper-container {
  margin: 50px 150px 50px 150px;
  width: 100%;
  .mySwiper {
    img {
      border-radius: 30px;
      width: 100%;
      height: 45vh;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #bebdbd5d; // Darker semi-transparent background to be more visible
  border-radius: 50%; // Keep buttons circular
  width: 60px; // Width of the buttons
  height: 60px; // Height of the buttons
  z-index: 50;
}
