.swiper-container {
  margin: 50px 150px 50px 150px;
  width: 100%;
  .mySwiper {
    img {
      border-radius: 30px;
      width: 100%;
      height: 45vh;
    }
  }

  // Nút điều hướng
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff; // Đổi màu nút điều hướng
    width: 40px; // Chiều rộng nút
    height: 40px; // Chiều cao nút
    background-color: rgba(0, 0, 0, 0.5); // Nền mờ
    border-radius: 50%; // Bo tròn nút
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    scale: 0.5;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8); // Tối màu khi hover
    }
  }
}
