
.room-schedule {
    width: 100%; 
    padding: 20px;
    background-color: white;

    table {
        width: 100%; 
        border-collapse: collapse;
        table-layout: fixed; 

        th, td {
            padding: 5px;
            text-align: center;
            border: 1px solid #ddd;
            word-wrap: break-word; 
        }

        th:first-child, td:first-child {
            min-width: 200px; 
            text-align: left;
        }
    }
}
